$font-size: (
  none: 0,
  tinier: 9px,
  tiny: 11px,
  smallest: 12px,
  smaller: 13px,
  small: 14px,
  medium: 16px,
  large: 18px,
  larger: 19px,
  largest: 20px,
  big: 24px,
  bigger: 26px,
  biggest: 32px,
  huge: 36px,
  extreme: 50px
);
